.nav-background{
    background-image: url("backgrounds/background-image-12.jpg");
    background-size: cover;
    min-height: 100%;

}

.back-image{
    background-image: url("backgrounds/background-image-7.jpg");
    background-size: cover;
    
}



